/* @import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Montserrat:wght@200&family=Ubuntu:wght@300&display=swap');

#bg{
    background-image: url(styles/background2.png);
    min-height: 601px;
    padding: 50px;

    /* Center and scale the image nicely */
    background-position: bottom;
    background-repeat: no-repeat;
    background-size:cover;
    
    /* Needed to position the navbar */
    /* position: relative; */
}

.bg-violet{
    /* background-color: rgb(80, 45, 207); */
    background-color: #55b425;
    color:black;
}
.bg-blue{
    background-color: orange;
    color: #fff;
}

.tribute-info {
    margin: 0 10px;
    max-width: 450px;
}
  
.responsive-img {
    display: block;
    max-width: 100%;
}
  
.img-div p {
    background-color: #eee;
    font-size: 12px;
    margin: 0;
    padding: 5px;
    text-align: center;
}
  
.video-wrapper {
    margin: 10px;
}
  
.twitter-tweet {
    max-width: 300px;
}
  
.social-ul a {
    font-size: 32px;
}

/* ############################################################################ */

.btn-primary-custom{
    /* background-color: #ccdf23 !important; */
    background-color: #55b425 !important;
    color: white !important;
    font-size: 32px !important;
    padding: 20px 40px 20px 40px !important;   
    transform: scale(1);
    transition: 0.3s !important;
}

.btn-primary-custom:hover{
    transform: scale(1.1);
    transition: 0.3s;
}

/* .btn-primary-custom:focus{
    animation-name: zoom;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes zoom{
    transform: scale();
} */

.testimonialsSect{
    display: flex;
    justify-content: space-around;
}

#aboutus{
    padding: 40px;
}

#help{
    padding: 50px;
}
  
#testimonials{
    padding: 50px;
}




